div {
    border: 3px solid black;
    margin: 3px;
    padding: 3px;
}
#container, #numpad, #operations {
    display: flex;
    flex-direction: column;
}

#keypad {
    display: flex;
    margin: auto;
}

#top, #middle, #bottom1, #bottom2 {
    display: flex;
}
